.sticky-element {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-element::after {
  content: "";
  display: table;
  clear: both;
}

.sticky-element img {
  height: 30px;
  margin-left: 10px;
}

.sticky-element .logo {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  margin-left: 10px;
}

.sticky-element .menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sticky-element .menu a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #262626;
  margin-left: 15px;
  text-decoration: none;
}

.sticky-element .menu a:hover {
  color: #3897f0;
}
